{% extends 'front/base.html' %}
{% load static %}

{% block content %}

<div class="wrapper" style="padding-top: 4%">
  <div class="profile-content section">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new img-no-padding">
              <img src="{% static 'front/img/faces/indrian.jpg' %}" alt="...">
            </div>
            <div class="name">
              <h4 class="title text-center">INDRIAN<br /><small>Android Developer</small></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>Hi, I'm INDRIAN, I've developed mobile apps since 2018, and I'm always honing my skills and knowledge so that I can make professional apps light, beautiful and easy to maintain.</p>
          <br />
          <b class="title">NIM: 1911102441003</b>
          <br />
          <br />
          <a class="btn btn-outline-default btn-round" href="https://github.com/indrian16/"><i class="fa fa-github-alt"></i> Open Github</a>
        </div>
      </div>
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Follows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#following" role="tab">Following</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="follows" role="tabpanel">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <ul class="list-unstyled follows">
                <li>
                  <div class="row">
                    <div class="col-md-2 col-3">
                      <img src="{% static 'front/img/faces/clem-onojeghuo-3.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="col-md-7 col-4">
                      <h6>Lincoln<br /><small>Car Producer</small></h6>
                    </div>
                    <div class="col-md-3 col-2">
                      <div class="unfollow">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <hr />
                <li>
                  <div class="row">
                    <div class="col-md-2 col-3">
                      <img src="{% static 'front/img/faces/erik-lucatero-2.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="col-md-7 col-4">
                      <h6>Banks<br /><small>Singer</small></h6>
                    </div>
                    <div class="col-md-3 col-2">
                      <div class="unfollow">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane text-center" id="following" role="tabpanel">
          <h3 class="text-muted">Not following anyone yet :(</h3>
          <button class="btn btn-warning btn-round">Find artists</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}